html,
body,
.page {
  height: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.item-title {
  margin-top: -40px;
  margin-bottom: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
}

.overlay-popup {
  position: absolute;
  top: 90px;
  right: 90px;
  bottom: 90px;
  left: 90px;
  min-height: calc(100% - 180px);
  z-index: 60;
  opacity: 1;
}

.shortcut-key {
  width: 100px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.Box h3 {
  margin: 0;
}

.form-group {
  margin: 0;
  opacity: 1;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.tile {
  padding: 8px;
  border-top: 1px solid #e1e4e8;
  cursor: pointer;
}

.tile:first-child {
  border: none;
}

.tile-icon {
  color: #bbbbbb;
}

.tile.selected,
.tile.selected:hover {
  background-color: #d6ebff;
}

.tile:hover {
  background-color: #f1f8ff;
}

.tile-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 280px;
  display: block;
  font-weight: bold;
  font-size: 120%;
}

.btn .icon,
.tile-title .icon,
.tabnav-tab .icon,
.Header,
.icon {
  vertical-align: middle;
  padding-right: 4px;
}

.btn-invisible:disabled {
  background: none;
}

.btn-invisible:hover {
  color: #5197e6;
}

.btn-invisible:disabled:hover {
  color: rgba(36, 41, 46, 0.4);
}

.master {
  width: 350px;
}

.master .scrollable-area {
  padding-left: 1px;
  border: 1px solid #ccc;
}

/* Loading */
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading div {
  position: absolute;
  animation: loading 0.8s linear infinite;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  box-shadow: 0 4.5px 0 0 #0366d6;
  transform-origin: 40px 42.25px;
}
.spinner {
  width: 40px;
  height: 40px;
  display: block;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  background: none;
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.4);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.loading div {
  box-sizing: content-box;
}

/******/

.Header {
  padding: 8px;
}

.Header-item {
  height: 34px;
}

.search {
  width: 300px;
}

a.Header-link {
  cursor: pointer;
}

.logo {
  font-size: 1.3em;
}

.flash-action {
  margin-left: 5px;
}
.flash .btn-invisible {
  background-color: transparent;
}

h2 {
  margin-bottom: 24px;
}

button {
  outline: none;
}

.CodeMirror.form-control {
  width: 100%;
  font-size: 1em;
}

.detail .CodeMirror.form-control {
  border: none;
  box-shadow: none;
}

.CodeMirror-focused.editable {
  border-color: #2188ff;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075),
    0 0 0 0.2em rgba(3, 102, 214, 0.3);
}

.cm-s-github .CodeMirror-gutters {
  background: #eeeeee;
}

.markdown {
  margin: 0;
}

.markdown ul,
.markdown ol {
  margin-left: 2em;
}

.item-type {
  width: 150px;
  margin-right: 1em;
}

.tabnav-extra {
  padding-top: 0;
  margin-top: -10px;
}

.tabnav-tab {
  white-space: nowrap;
  border: 1px solid transparent;
  border-top: 3px solid transparent;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}

.tabnav-tab.selected {
  color: #24292e;
  background-color: #fff;
  border-color: #e36209 #e1e4e8 transparent;
}

.tabnav {
  margin-top: 10px;
  margin-bottom: 5px;
}

.top-info-bar {
  height: 40px;
}

.paginate-container {
  margin-top: 0;
  margin-bottom: 0;
}

.edit-form {
  margin-top: -50px;
}

.flash {
  margin-bottom: 5px;
  padding: 8px;
}

.flash-action {
  float: none;
  margin-top: 0;
  margin-left: 0;
}

.flex-1 {
  flex: 1 1 1px !important;
}

.scrollable-area {
  overflow-y: auto;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  opacity: 0.2;
  border-radius: 4px;
  background: #cccccc;
  border: 0px solid #cccccc;
}

.cm-fat-cursor .CodeMirror-cursor {
  background: #999;
}

.note.error.editor {
  position: absolute;
  bottom: 1px;
}

ul.checklist {
  list-style-type: none;
}
